body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin: 0px;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.controls {
    margin-bottom: 10px;
}

.text {
    width: 100%;
    word-wrap: break-word;
}

input, button {
    margin-right: 5px;
}